.AddTodo {
    text-align: center;
    margin: 10px;
}

.AddTodo input {
    padding: 8px 12px;
    border: .5px solid rgba(0, 0, 0, .25);
    border-radius: 12px;
}

.AddTodo button {
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    background-color: rgba(4, 170, 109, .5);
    color: white;
    transition: all .300ms ease;
}

.AddTodo button:hover {
    background-color: rgba(4, 170, 109, .7);
}

.AddTodo input, button {
    margin-left: 8px;
}